@using AspNetNewsAgregator.Core.DataTransferObjects;

@model ArticleDto

@{
    //var item = (ViewData["model"] as ArticleDto);
    //var item = ViewBag.Model;
    ViewData["Title"] = "Article details";
}


<div>
           <h3> 
                @Model?.Title
            </h3>
            <h5> 
                @Model?.Category
            </h5>
            <div>
            <p>
        
               @Model?.Text
            </p>
            </div>
            <h6>
          
                @Model?.PublicationDate
            </h6>
</div>

@*@Html.DisplayForModel()*@

<hr>


<div class="btn-group" role="group">
    @Html.ActionLink("Edit", "Edit", "Article", new {id = Model.Id}, new {@class="btn btn-warning"})

    <a asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>

    <a type="button" class="btn btn-danger">Delete</a> 
</div>

@*<div>
    <h3>Comments</h3>

    @foreach (var comment in Model.Comments)
    {
            <p>comment</p>
    }
</div>*@ 