@using AspNetNewsAgregatorMvcApp.Helpers;
@model IEnumerable<AspNetNewsAgregator.Core.DataTransferObjects.ArticleDto>

@{
    ViewData["Title"] = "View";
    //Layout = "_CustomLayout";
}

<h1 id="article-header">Articles</h1>

<a href="~/article/create">Create Article</a>

<div class="row">
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("ArticlePreview", item)
        }
    }
</div>

@Html.GeneratePaginator(new int[]{1,2,3,4,5,6})
